@import '@/config/colors.scss';
.text {
  text-align: left;
  color: $light-text-color;
  margin-bottom: 9px;
  &-invalid {
    color: $invalid-color;
  }
}
.input {
  border: 1px solid $input-border-color;
  padding: 18px;

  border-radius: 6px;
  width: 560px;
  height: 60px;
  margin-bottom: 18px;
  &:focus {
    border-color: $yellow-hover-color;
    outline: none;
  }

  &-invalid {
    border: 1px solid $invalid-color;
    background: $invalid-background-color;
    color: $invalid-color;
  }
}
