.text{
    text-align: left;
color: #616161;
margin-bottom: 9px;
  }
.invalidText{
    color: #ff4141;
    }
    .input{
        border: 1px solid #cfcfcf;
        padding: 18px;
        
      border-radius: 6px;
      width: 560px;
      height: 60px;
      margin-bottom: 18px;
      }
      .input:focus{
        border-color: #f6ab1a;
        outline: none;
      
        }
      
      
.invalidInput{
    border: 1px solid #ff4141;
    background: #fcc;
    color: #ff4141;
}