
.card{
    border-radius: 5px;
  min-width: 560px;
  max-width: 560px;
  height: 330px;
  max-height: 330px;
  background: #efefef;
  margin: 0 35px 40px 0;
}
  .content{
    position: relative;
    padding: 20px 25px 32px;
    min-height:calc(100% - 91px) ;
  
  }
.title{
    font-weight: 700;
    font-size: 36px;
  }
.description{
    font-weight: 700;
  font-size: 16px;
  color: #555;
  overflow-wrap: break-word;
  max-height: 144px;
  overflow: auto;
  }
.footer{
    height: 91px;
    background: #d9d9d9;
    display: flex;
    justify-content: end;
  }
  