$shadow-color: rgba(0, 0, 0, 0.15);
$description-color:#555;
$gray-color:#e7e7e7;
$card-background-color:#efefef;
$dark-gray-color:#d9d9d9;
$closeBtn-color: #fb2828;
$button-invalid-border-color:#a4a4a4;
$button-invalid-color:#d7d7d7;
$white-color:#f9f9f9;
$light-text-color: #616161;;
$invalid-background-color: #fcc;
$invalid-color: #ff4141;
$yellow-color:#f6b91a;
$yellow-hover-color:#f6ab1a;
$yellow-acrive-color:#f6911a;
$modal-background-color:rgba(0, 0, 0, 0.54);
$success-color: #3cb371;
$error-color:#ff0000;
$whiteBtn-border-color:#9d9d9d;
$whiteBtn-hover-color:#dfdfdf;
$whiteBtn-active-color:#bebebe;
$input-border-color:#cfcfcf;